<p style="color: red"><%= alert %></p>
<head>
<%= stylesheet_link_tag 'bootstrap' %>
<%= stylesheet_link_tag 'rent-index-style'%>
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>

<%= ensure_log %>
<div class="container">
    <div class="main-body">  
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4><%= @user.name %></h4>
                    </div>
					<div class="mt-3">
                  <% if (!(@user.rango == 'Usuario')) %>
                      <h4 class="p-3 mb-2 bg-gradient-light text-dark"><%= @user.rango %></h4>
                  <% end %>
                  </div>
                     <% if (!@user.Admin? && (current_user.Admin? || current_user.Supervisor?)) %>
					<div class="mt-3">
                      <h4 class="p-3 mb-2 bg-dark text-white"> Panel de control </h4>
                    </div>
                     <% end %>
					<div class="mt-3">
					   <% if current_user.Admin? %>
                       		<% if (@user.Supervisor?) %>
                        	        <%= button_to 'Remover supervisor', baja_y_alta_supervisores_user_path(@user, rango: 'Usuario'), method: :patch, class: "btn btn-sm btn-danger" %>
                       		<% elsif (@user.Usuario?) %>
                        	        <%= button_to 'Convertir a supervisor', baja_y_alta_supervisores_user_path(@user, rango: 'Supervisor'), method: :patch, class: "btn btn-sm btn-success" %>
					   		<% end %>
					   <% end %>
                    </div>
					<div class="mt-3">
					   <% if (!@user.Admin? && (current_user.Admin? || current_user.Supervisor?)) %>
                       		<% if (!@user.Baneado?) %>
                       	         <%= button_to 'Bloquear', bloquear_usuario_user_path(@user), method: :patch, class: "btn btn-sm btn-danger" %>
                       		<% else %>
                       	         <%= button_to 'Desbloquear', baja_y_alta_supervisores_user_path(@user, rango: 'Usuario'), method: :patch, class: "btn btn-sm btn-success" %>
					   		<% end %>
					   <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Nombre</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= @user.name %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= @user.email %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Telefono</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= @user.telephone %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Fecha de nacimiento</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    <%= @user.birthdate %>
                  </div>
                </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Numero de documento</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <%= @user.dni %>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-primary"  <%= link_to "Editar", edit_user_registration_path %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
