<p style="color: green"><%= notice %></p>
<%= ensure_adm %>
<%= ensure_log %>


<div class="row">
<div>  <%= @user.email %>  </div>
<div>  <%= @user.name %>  </div>
<div>  <%= @user.dni %>  </div>
</div>

<div>
	<% if (user_signed_in? && (!!current_user.Admin? || (current_user.id == @user.id))) %>	
  		 <div> Editar </div> |
	<% end %>

	<% if (user_signed_in? && !!current_user.Admin?) %>
	  <div> Index </div>
	  <%= button_to "Destroy profile", @user, method: :delete %>
	<% end %>
</div>

<% if ((@user.A_Verificar?) && (!!current_user.Admin? || !!current_user.Supervisor?))  %>

<%= link_to 'Download', @user.file, download: '' %>

<%= button_to 'Aceptar', update_rango_user_path(@user, rango: 'Usuario'), method: :patch, class: "btn btn-sm btn-success" %>
<%= button_to 'Declinar', update_rango_user_path(@user, rango: 'No_Aceptado'), method: :patch, class: "btn btn-sm btn-danger" %>

<% end %>
