<head>
	<%= stylesheet_link_tag 'bootstrap', 'login-styles'%>
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <style>
  .hidden {
    display: none
  }
  </style>
</head>

<%= render 'shared/nav'%>
<section class="vh-100" style="background-color: #F4F7FD;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-top py-5 h-100">
      <div class="col col-xl-9">
        <div class="card" style="border-radius: 1rem;">
          <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <%= form_with url: '/password/reset', method: :post do |f| %>
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-lock fa-2x me-3" style="color: #6aa9e9;"></i>
                    <h5 class="fw-normal text-bold pt-2" style="letter-spacing: 1px;">Recuperar contraseña</h5>
                  </div>
                  <div class="form-outline mb-4">
                    <p style="color: green"><%= notice %></p>
                    <p style="color: red"><%= alert %></p>
                    <%= f.label :email, 'Introduce tu correo electrónico. Se le enviara un correo electronico para reestablecer la contraseña.', :class => 'pb-2' %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control form-control-lg" %>
                  </div>
                  <div class="pt-1 mb-4">
                    <%= f.submit "Reestablecer contraseña", class:"btn btn-dark btn-lg btn-block", type:"submit", label:'Enviar correo electrónico', onClick: 'reveal()' %>
                  </div>
                <% end %>
                <a class="small text-muted" href="/users/sign_in">Iniciar sesion</a>
                <p class="mb-5 pb-lg-2" style="color: #393f81;">¿No tiene cuenta? <a href="/users/sign_up" style="color: #393f81;">Registrese aqui</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function reveal() {
    var element = document.getElementById("hidden-div");
    element.classList.remove("hidden");
  }
</script>
