<head>
	<%= stylesheet_link_tag 'bootstrap', 'login-styles'%>
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>
<% alquileresPasados = [] %>

<% rentaActiva = Rent.where(:user_id => current_user.id, :activo => true).first %>

<% Rent.where(:user_id => current_user.id).all.each do |rent| %>
  <% if !(pasaron_12h(rent.tiempo)) %>
      <% alquileresPasados << rent %>
  <% end %>
<% end %>




<section class="vh-100" style="background-color: #F4F7FD;">
<% if (!(alquileresPasados.empty?) || (current_user.alquilando)) %> 
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center ">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://media.discordapp.net/attachments/1029137847418114209/1041835460340748358/WhatsApp_Image_2022-11-14_at_19.01.23.jpeg?width=724&height=671"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-50 col-lg-50 d-flex ">
              <div class="card-body p-4 p-lg-50 text-black">


              <%= form_with(model: @ticket) do |form| %>
                <% @ticket.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>

              <div>

                <%= form.label :opcion, "Elija el problema detectado en el vehiculo:", style: "display: block" %>
                <%= form.select :opcion, [["El vehiculo sufrió un daño fisico causado por mi/por terceros"], 
                ["El vehiculo no fue entregado en correctas condiciones"],
                ["He detectado un daño no estipulado en las incidencias del vehiculo"],
                ["El vehiculo tiene una avería la cual no permitió continuar con el alquiler"],  
                ], {}, :style => "width:400px" %>
                
                
                <% if (User.find(current_user.id).alquilando?) %>
                <div>
                  <%= form.hidden_field :car_id, value: rentaActiva.car_id %>
                  <span style ="font-weight:bold">Vehiculo a reportar: <%= Car.find(rentaActiva.car_id).modelo %></span>
                </div>
                  <% elsif %>
                <div>
                  <%= form.label :car_id, "Elija el alquiler del cual desea hacer el reclamo:.", style: "display: block" %>
                  <%= form.select :car_id, alquileresPasados.map {|r| [Car.find(r.car_id).modelo + r.tiempo.strftime(" - %d/%m/%Y %H:%Mhs"), r.car_id]} %>                  </div>
                  <% end %>
                  <div>
                <%= form.label :mensaje, style: "display: block" %>
                <%= form.text_area :mensaje, :cols => "25", :rows => "3" %>
                </div>
                
                <div class="photos">
                <%= form.label :photos, "Seleccione las fotos que desee subir", style: "display: block" %>
                <%= form.file_field :photos, :multiple => true %>
                </div>

        
                <div class="mt-4">
                  <%= form.submit "Crear reporte", class: "btn btn-primary" %>
                </div>
              <% end %>
          </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%elsif%>
  <div class="page-wrap d-flex flex-row align-items-center" style='min-height: 60vh;min-width: 100vh;'>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-12 text-center">
              <span class="display-1 d-block">:(</span>
              <div class="mb-4 lead">Lo sentimos, no puede reportar ningun alquiler debido a que no tiene ninguno activo o todos han superado las 12hs de finalizado</div>
          </div>
      </div>
  </div>
  </div>
<%end%>
</section>

