<head>
	<%= stylesheet_link_tag 'bootstrap', 'login-styles'%>
</head>

<%= render 'shared/nav' %>
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-3 col-xl-5">
        <div class="card bg-dark text-white" style="border-r  adius: 1rem;">
          <div class="card-body p-3 text-center">

            <div class="mb-md-5 mt-md-4 pb-2">

              <h2 class="fw-bold mb-2 text-uppercase">Iniciar sesion</h2>
              <p class="text-white-50 mb-5">Entre su correo y contraseña</p>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		            <% if resource.errors.any? %>
                  <div style="color: red">
                    <h2>
                      <%= pluralize(resource.errors.count, "error") %>  --> Error! No se ha podido realizar el pago
                    </h2>
                    <ul>
                      <% resource.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                <%= render "devise/shared/error_messages", resource: resource %>    
                <div class="form-outline form-white mb-4">
                  <%= f.label :email, 'E-Mail' %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>

                <div class="form-outline form-white mb-4">
                  <%= f.label :password, 'Contraseña'  %><br />
                  <%= f.password_field :password, autocomplete: "current-password" %>
                </div>

                <% if devise_mapping.rememberable? %>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me, 'Recuerdame' %>
                  </div>
                <% end %>
                <div class="actions">
                  <%= f.submit "Log in", class:"btn btn-outline-light btn-lg px-5", type:"submit", label:'Iniciar sesion' %>
                </div>
              <% end %>
              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">¿Olvido la contraseña?</a></p>
            </div>
            <p class="mb-0">¿No tiene una cuenta? <a href="/users/sign_up" class="text-white-50 fw-bold"> Registrese</a> </p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
	
</section>

