<head>
    <%= stylesheet_link_tag 'saldo-editer-styles' %>    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Checkout</title>
</head>

<% ensure_log %>

<div class="card text-white m-1" style="max-width: 18rem; background-color: #00AFEA">
  <div class="card-header text-dark" >Pago <%= payment.id%></div>
  <div class="card-body">
    <p class="card-text">
      Detalles:
      <br>
      Fecha de creacion:  <%= payment.created_at.strftime('%F - %H:%M') %>
      <br>
      Fecha de confirmacion: <%= payment.updated_at.strftime('%F - %H:%M') %>
      <br>
      Precio pagado: $<%= payment.precio %>
      <br>
      <span style='background-color: #494949' class='px-5'>
        Estado: <%= payment.aceptado %>
      </span>
    </p>
  </div>
</div>

