<div id="<%= dom_id payment %>">
  <p>
    <strong>Precio:</strong>
    <%= payment.precio %>
  </p>

  <p>
    <strong>Aceptado:</strong>
    <%= payment.aceptado %>
  </p>

  <p>
    <strong>Request:</strong>
    <%= payment.request %>
  </p>

  <p>
    <strong>Response:</strong>
    <%= payment.response %>
  </p>

</div>
