<head>
    <%= stylesheet_link_tag 'bootstrap', 'billetera-styles', 'user-home-styles', 'historial-pagos' %>    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Billetera</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
</head>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid mt-3">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center mb-4">
                        <div class='row'>
                            <div class='col'>
                                <h1 class="h3 pt-1 pr-5 text-gray-800">Billetera</h1>
                            </div>
                            <div class='col ml-4 pt-1'>
                                <a class="btn btn-primary" href='/payments/new'>
                                    Cargar saldo 
                                </a>                            
                            </div>
                        </div>
                    </div>
                    <!-- Content Row -->
                    <div class="row">
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Saldo en la cuenta</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$<%= number_with_precision current_user.saldo, :precision => 2 %></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Completar con info de cliente</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">$420,000</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Completar con info de cliente
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Alquileres</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Historial de pagos</h6>
                    </div>

                    <div class="career-search mb-60">

                        <form action="#" class="career-form mb-60">
                        <%= form_with url: "/payments", method: :get do |form| %>
		                    <div class="row">
                                <div class="col-md-9 col-lg-5 my-3">
                                    <div class="input-group position-relative">
                                        <%= form.text_field :search_precio, placeholder: 'Precio', :class => 'form-control rounded px-3 pb-2' %>
                                    </div>
                                </div>
                                <div class="col-md-9 col-lg-4 my-3">
                                    <div class="input-group position-relative">
                                        <%= form.text_field :search_aceptado, placeholder:'Estado', :class => 'form-control rounded px-3 pb-2'%>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 my-3">                                        
                                    <%= form.submit "Buscar", class: 'btn btn-lg btn-block btn-light btn-custom'%>
	                                <% end %>
                                </div>
                            </div>
                        </form>
            
                        <div class="filter-result">
                            <p class="mb-30 ff-montserrat">Cantidad total de pagos : <%=@payments.length()%></p>

                                <% if !@payments.empty?%>
                                    <% @payments.each do |payment| %>
                                    <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
                                        <div class="job-left my-3 d-md-flex align-items-center flex-wrap">
                                            <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                                                <% if payment.aceptado then%>
                                                    <i class="zmdi zmdi-money-box mr-2 text-success"></i>
                                                    <%= payment.id%>
                                                <%elsif (payment.created_at == payment.updated_at) && !(payment.aceptado) then  %>
                                                    <i class="fa-solid fa-hourglass mr-2 text-warning"></i>
                                                    <%= payment.id%>    
                                                <%elsif !(payment.aceptado) %>
                                                    <i class="zmdi zmdi-alert-circle-o mr-2 text-danger"></i>
                                                    <%= payment.id%>
                                                <%end %>
                                            </div>
                                            <div class="job-content">
                                                <h5 class="text-center text-md-left">Pago ID #<%= payment.id%></h5>
                                                <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans pt-1">
                                                    <li class="mr-md-4">
                                                        <% if payment.aceptado then%>
                                                            <i class="zmdi zmdi-badge-check mr-2 text-success"></i>
                                                            Aceptado
                                                        <%elsif (payment.created_at == payment.updated_at) then  %>
                                                            <i class="fa-solid fa-hourglass mr-2 text-warning"></i>
                                                            Pendiente
                                                        <%elsif !(payment.aceptado) %>
                                                            <i class="zmdi zmdi-alert-circle mr-2 text-danger"></i>
                                                            Rechazado
                                                        <%end %>
                                                    </li>
                                                    <li class="mr-md-4">
                                                        <i class="zmdi zmdi-money mr-2"></i> <%= payment.precio%>
                                                    </li>
                                                    <li class="mr-md-4">
                                                        <i class="zmdi zmdi-time mr-2"></i> <%= payment.created_at.strftime("%H:%M  %d/%m/%Y") %>
                                                    </li>
                                                </ul>
                                                <%if payment.created_at == payment.updated_at then %>
                                                    Verificacion: No verificado aun.    
                                                <%else %>
                                                    Verificacion: <i class="zmdi zmdi-refresh ml-2 mr-1"></i><%= payment.updated_at.strftime("%H:%M  %d/%m/%Y") %>    
                                                <%end%>

                                            </div>
                                        </div>
                                        <div class="job-right flex-shrink-0">
                                            <%= link_to "Detalles", payment, :class => "btn d-block w-100 d-sm-inline-block btn-light" %>
                                        </div>
                                    </div>
                                    <% end %>
                                <% else %>
                                        <div class="container"  >
                                            <div class="row justify-content-center" align='center'>
                                                <div class="col-md-12">
                                                    <span class="display-1 d-block mb-3">:(</span>
                                                    <div class="mb-4 lead">Lo sentimos, no se han registrado pagos.</div>
                                                    <div class="mb-4 lead pb-5"><a class='link' href='/payments/new'>¿Desea realizar uno ahora?</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                <% end %>
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
                    <!-- Content Row -->
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Titulo 1</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="small font-weight-bold">Porcentaje 1 <span
                                            class="float-right">20%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"
                                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Porcentaje 2 <span
                                            class="float-right">40%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"
                                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Porcentaje 3<span
                                            class="float-right">60%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar" role="progressbar" style="width: 60%"
                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Porcentaje 4<span
                                            class="float-right">80%</span></h4>
                                    <div class="progress mb-4">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Porcentaje 5<span
                                            class="float-right">Completado!</span></h4>
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Titulo 2</h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                            src="https://startbootstrap.github.io/startbootstrap-sb-admin-2/img/undraw_posting_photo.svg" alt="...">
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<a
                                            target="_blank" rel="nofollow" href="#"> Link 1 </a>, eiusmod tempor incididunt ut labore et dolore
                                        magna aliqua. Ut enim ad minim veniam!</p>
                                    <a target="_blank" rel="nofollow" href="#">Link 2 &rarr;</a>
                                </div>
                            </div>

                            <!-- Approach -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Title 3</h6>
                                </div>
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->



        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>