<head>
<%= stylesheet_link_tag 'bootstrap' %>
<%= stylesheet_link_tag 'cars-index-styles'%>
</head>
<%= render 'shared/nav' if user_signed_in? %>


<p style="color: green"><%= notice %></p>



<h1>Vehiculos disponibles</h1>


<div class="album text-muted">
   <div class="container">
      <div class="row">
         <% @cars.each do |car| %>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTma4Tw5U-65fdEavhrDikwE8oI_XqZDJ0hzI4AfrBn&s" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= car.modelo %></h5>
              <p class="card-text">Patente: <%= car.patente %></p>
              <a href="#" class="btn btn-primary">Alquilar</a>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>




<% if (user_signed_in? && !!current_user.Admin?) %>
	<%= link_to "New car", new_car_path %>
<% end %>



