<head>
<%= stylesheet_link_tag 'bootstrap' %>
<%= stylesheet_link_tag 'cars-index-styles'%>
</head>
<%= render 'shared/nav' if user_signed_in? %>


<p style="color: green"><%= notice %></p>


<h1>Vehiculos disponibles</h1>



<% if !Car.where(alquilado: false).empty? %>

<div class="container" style="margin-top:50px;">
  <div class="row">
    <% @cars_not_rented.each do |car| %>
      <div class="col-md-3">
          <div class="card-sl">
			<% if car.photo.attached? %>
             <div class="card-image">
                  <%= image_tag(car.photo, style:'width:100%') %>
              </div>
			<% elsif %>
				             <div class="card-image">
                  <img
                      src="https://images.pexels.com/photos/1149831/pexels-photo-1149831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
              </div>
			<% end %>

              <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
              <div class="card-heading">
                  <%= car.modelo %>
              </div>
              <div class="card-text">
                  <%= car.patente %>
              </div>
              <div class="card-text">
                  Alquiler por hora: $1000
              </div>
              <%= link_to "Alquilar", car, :class => "card-button" %>
          </div>
      </div>
      <% end %>
  </div>  

<% elsif %>
         <img
                      src="https://cdn.motor1.com/images/mgl/QRK8Z/s3/10-cars-that-could-disappear-soon.webp" />
         </div>
<% end %>


  <%= turbo_frame_tag "modal" %>

<% if (user_signed_in? && !!current_user.Admin?) %>
	<%= link_to "Nuevo auto", new_car_path %>
<% end %>



  







