
<head>
<%= stylesheet_link_tag 'bootstrap' %>
<%= stylesheet_link_tag 'cars-index-styles'%>
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

</head>

<%= ensure_log %>

<div class="row">
		<%= form_with url: "/cars", method: :get do |form| %>
				<div class="col"> Modelo </div>
			<%= form.text_field :search_modelo %>
	<div class="col"> Kilometraje (menor a) </div>
			<%= form.text_field :search_kilometraje %>
  			<%= form.submit "Buscar", class: 'btn btn-primary' %>
		<% end %>
</div>
<% if !@cars_not_rented.empty? %>

<div class="container" style="margin-top:50px;">
    <h1>Vehiculos disponibles</h1>
  <div class="row">
    <% @cars_not_rented.each do |car| %>
      <div class="col-md-3">
          <div class="card-sl">
			<% if car.photo.attached? %>
             <div class="card-image">
                  <%= image_tag(car.photo, style:'width:100%') %>
              </div>
			<% elsif %>
				             <div class="card-image">
                  <img
                      src="https://images.pexels.com/photos/1149831/pexels-photo-1149831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
              </div>
			<% end %>

              <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
              <div class="card-heading">
                  <%= car.modelo %>
              </div>
              <div class="card-text">
                  <%= car.patente %>
              </div>
              <div class="card-text">
                  Alquiler por hora: $1000
              </div>
              <% if current_user.rango == "Usuario" %>
                <%= link_to "Alquilar", car, :class => "card-button" %>
              <% elsif %>
                <% if current_user.rango == "Admin" %>
                <%= link_to "Detalles", car, :class => "card-button" %>
              <% end %>
              <% end %>
          </div>
      </div>
      <% end %>
<% elsif %>
    <div class='container py-3'>
        <h1>Vehiculos disponibles</h1>
		<div> No hay autos disponibles en este momento. Intente en otro momento. </div>
        <img
            src="https://cdn.motor1.com/images/mgl/QRK8Z/s3/10-cars-that-could-disappear-soon.webp" />
        </div>
    </div>
<% end %>
  <%= turbo_frame_tag "modal" %>

