<head>
	<%= stylesheet_link_tag 'bootstrap'%>
	<%= stylesheet_link_tag 'login-styles'%>
</head>
<%= render 'shared/nav' if user_signed_in? %>


<h1>Cargar auto</h1>




<%= render "form", car: @car %>

<br>

<div>
  <%= link_to "Back to cars", cars_path %>
</div>
