<p style="color: green"><%= notice %></p>

<%= render @car %>

<div style="width:400px; height:auto">
	<%= image_tag(@car.photo, style:'width:100%') %>
</div>

<div>
	<% if (user_signed_in? && !!current_user.Admin?) %>	
  		<%= link_to "Edit this car", edit_car_path(@car) %> |
	<% end %>
  <%= link_to "Back to cars", cars_path %>

	<% if (user_signed_in? && !!current_user.Admin?) %>
	  <%= button_to "Destroy this car", @car, method: :delete %>
	<% end %>
	<%= link_to "Alquilar", new_rent_path(autito: @car)  %>
</div>


