<!DOCTYPE html>
<html>
  <head>
    <title>Alquilapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'Logo_3-removebg-preview.png' %>
  
  <body>
	<%= render "layouts/header" %>
    <%= yield %>
</html>
