<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'Logo_3-removebg-preview.png' %>
  
  <body>

  <% if user_signed_in? %>
      <head>
        <title>Home</title>
        <%= stylesheet_link_tag 'bootstrap','user-home-styles'%>
      </head>
    <body>
    <div class="d-flex" id="wrapper">
      <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light pb-3">Coscu army</div>
        <div class="list-group list-group-flush">
          <!--  
              Hay que incluir este codigo
                < % if el-usuario-tiene-alquiler-activo? %>
                    < % = render '<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Estado de alquiler</a>' %>
                < % else %>
                    < % = render '<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Alquilar</a>' %>
                < % end %>-->
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/">Home</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/cars">Alquilar</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" onclick="alert('Estamos trabajando en esta funcionalidad!');">Estado de alquiler</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/billetera/mercadopago">Billetera</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/users/edit">Perfil</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/rents">Mis alquileres</a>
          <a></a>
          <% if (user_signed_in? && !!current_user.Admin?) %>
            <a class="list-group-item list-group-item-action list-group-item-bold p-3" <%= link_to "Nuevo auto", new_car_path %></a>
            <a class="list-group-item list-group-item-action list-group-item-bold p-3" href="/users">Validación de usuarios</a>
            <% end %>
          
        </div>
      </div>
      <!-- Page content wrapper-->
      <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom pb-1 ">
          <div class="container-fluid">
            <div class="col col-lg-3">  
              <div class='row'>
                <%= image_tag "Logo_3-removebg-preview.png", height: 40 %>
                <h1 class='h3 pt-1 pl-3 text-gray-800' href="/">Alquilapp</h1>
              </div>
            </div>
            <button class="btn btn-primary" id="sidebarToggle">Menu lateral</button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class = 'col-md-10'> </div>
              <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                  <li>
                    <%= button_to "Cerrar sesion", destroy_user_session_path, method: :delete, type:"button", class:"btn btn-primary" , id:'sidebarToggle' %> 
                  </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Page content-->
          <%= yield%>
      </div>
    </div>

    
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script>
      window.addEventListener('DOMContentLoaded', event => {
          const sidebarToggle = document.body.querySelector('#sidebarToggle');
          if (sidebarToggle) {
              sidebarToggle.addEventListener('click', event => {
                  event.preventDefault();
                  document.body.classList.toggle('sb-sidenav-toggled');
                  localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
              });
          }
      });


    </script>
  </body>
  <% else %>
      <%= yield %>
  <% end %>
    

</html>
